.cursor-pointer {
  cursor: pointer;
}
.outline-none:focus {
  outline: none;
}
.placeholder-opacity-0:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.transition-3 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.transition-5 {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
a {
  text-decoration: none;
}
.resize-none {
  resize: none;
}
